.form-login {
  max-width: 1300px;
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#message {
  width: 100%;
  color: var(--color-gray-background);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form-user {
    margin-top: 1.375rem;
  }
}
