.text-radio {
  width: 100%;
  color: var(--color-orange-highlight);
  font-size: 0.875rem;
  font-weight: 600;
}
.container-radio {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  margin-top: 1rem;
}
.form-label-radio {
  width: 100%;
  color: var(--color-white-text);
  font-size: 0.875rem;
}

/* tag input radio */
.input-radio {
  appearance: none;
  margin-left: 2.5rem;
  margin-right: 0.625rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-orange-background);
  vertical-align: text-bottom;
  position: relative;
}
.input-radio:before {
  opacity: 0;
  content: '';
  background-color: var(--color-green-background);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}
.input-radio:checked:before {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .container-radio {
    display: inline-block;
    width: 100%;
  }
  .text-radio {
    font-size: 1.25rem;
  }
  .form-label-radio {
    font-size: 1rem;
  }
  .input-radio {
    width: 20px;
    height: 20px;
  }
  .input-radio:before {
    width: 14px;
    height: 14px;
  }
}
