.food-card {
  width: 275px;
  height: 120px;
  border-radius: 15px;
  background: rgb(207 100 38);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  column-gap: 10px;
}
.text-container {
  display: grid;
}
.title {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 600;
  color: var(--color-white);
  align-self: start;
}
.text {
  font-size: 1.125rem;
  text-align: center;
  color: var(--color-white);
}
.counter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-self: start;
  justify-self: end;
  column-gap: 10px;
  row-gap: 15px;
}
.text-counter {
  font-size: 1.275rem;
}
.button-counter {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.counter-green {
  background: var(--color-green-highlight);
}
.counter-red {
  background: var(--color-red-highlight);
  font-size: 2rem;
}
.options-container {
  display: flex;
  flex-direction: column;
}
.text-total {
  width: 100%;
  grid-column: 1/4;
  font-size: 1.25rem;
  align-self: start;
  text-align: right;
}
.text-complement {
  padding: 5px 0;
  font-weight: 600;
  color: var(--color-black-text);
  background: var(--color-yellow-highlight);
  border-radius: 5px;
  align-self: end;
}
