.button,
.confirm-button,
.cancell-button {
  width: 100%;
  border-radius: 0.625rem;
  font-weight: 600;
}
.button {
  height: 3.5rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.button,
.confirm-button {
  background-color: var(--color-green-opacity);
  border: 4px solid var(--color-green-highlight);
  color: var(--color-yellow-highlight);
}
.cancell-button {
  background-color: var(--color-orange-opacity);
  border: 4px solid var(--color-dark-orange);
  color: var(--color-yellow-highlight);
  margin-bottom: 1.5rem;
}
.confirm-button,
.cancell-button {
  height: 3rem;
  font-size: 1rem;
  margin: 0;
}
.option-button,
.sub-option-button {
  width: 100%;
  padding: 10px 0;
  background: var(--color-red-background);
  border: none;
  border-radius: 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-white-text);
}
.sub-option-button {
  background: var(--color-orange-background);
  color: var(--color-black-text);
}
.button:active,
.button-counter:active,
.cancell-button:active,
.confirm-button:active,
.option-button:active,
.sub-option-button:active {
  transform: translateY(3px);
}

@media screen and (min-width: 600px) {
  .button {
    height: 4rem;
    font-size: 1.375rem;
  }
  .confirm-button,
  .cancell-button {
    font-size: 1.375rem;
    height: 3.5rem;
  }
  .confirm-button,
  .cancell-button {
    font-size: 1.375rem;
    height: 3.5rem;
  }
}

@media screen and (min-width: 785px) {
  .option-button,
  .sub-option-button {
    width: 150px;
  }
}
