.button {
  width: 100%;
  height: 4rem;
  border-radius: 0.625rem;
  background-color: var(--color-green-opacity);
  border: 6px solid var(--color-green-highlight);
  color: var(--color-yellow-highlight);
  font-size: 1.375rem;
  font-weight: 600;
}
.button:active {
  transform: translateY(3px);
}
