.text-menu {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 0.875rem;
  margin-bottom: 1.25rem;
  color: var(--color-white-text);
}
.form-message {
  width: 100%;
  color: var(--color-gray-background);
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
}
.text-orders {
  margin-bottom: 0;
  padding-bottom: 10px;
  color: var(--color-orange-highlight);
  border: 3px solid var(--color-orange-background);
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  font-size: 1.25rem;
}

@media screen and (min-width: 600px) {
  .text-menu,
  .form-message {
    font-size: 1.375rem;
  }
}
