.text-menu {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 1.25rem 0;
  color: var(--color-white-text);
}
.form-message {
  width: 100%;
  color: var(--color-gray-background);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .text-menu {
    font-size: 1.375rem;
  }
}
