.menu {
  max-width: 1300px;
  width: 90%;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  background: var(--color-wine-background);
  z-index: 1;
}
.list-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.list-container li {
  list-style: none;
}

@media screen and (max-width: 400px) {
  .menu {
    padding: 8px 0;
  }
}
