.menuSection {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  align-items: start;
  row-gap: 35px;
  column-gap: 35px;
}