.registerButton {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20%;
  row-gap: 2rem;
  margin: 1.5rem 0;
}
.optionContainer,
.subOptionContainer {
  width: 100%;
  justify-self: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}
.subOptionContainer {
  justify-content: center;
  column-gap: 20px;
}
.textContainer {
  display: grid;
}
.counterContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-self: start;
  justify-self: end;
  column-gap: 15px;
  row-gap: 10px;
}

@media screen and (max-width: 600px) {
  .registerButton {
    grid-template-columns: 1fr;
  }
}
