.register-button {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20%;
  row-gap: 2rem;
  margin: 1.5rem 0;
}
.menu-section {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 35px;
}

@media screen and (max-width: 600px) {
  .register-button {
    grid-template-columns: 1fr;
  }
}
