.register-button {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20%;
  row-gap: 2rem;
  margin: 1.5rem 0;
}
.menu-section {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  align-items: start;
  row-gap: 35px;
  column-gap: 35px;
}
.option-container,
.sub-option-container {
  width: 100%;
  justify-self: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}
.sub-option-container {
  justify-content: center;
  column-gap: 20px;
}

@media screen and (max-width: 600px) {
  .register-button {
    grid-template-columns: 1fr;
  }
}
