.containerGeneral {
  width: 100%;
  height: 100vh;
  margin: 76px 0 55px 0;
  overflow-y: visible;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container {
  max-width: 1300px;
  width: 90%;
}
.containerGeneral::-webkit-scrollbar {
  width: 8px;
}
.containerGeneral::-webkit-scrollbar-track {
  background: var(--color-black-text);
  border-radius: 6px;
}
.containerGeneral::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-background);
  border-radius: 6px;
}

@media screen and (min-width: 600px) {
  .containerGeneral {
    margin-top: 87px;
    margin-bottom: 65px;
  }
}
