.loginLogo {
  width: 9rem;
  height: 9rem;
}
.loginHeader {
  width: 3.3rem;
  height: 3.3rem;
}

@media screen and (min-width: 600px) {
  .loginLogo {
    width: 10rem;
    height: 10rem;
  }
  .loginHeader {
    width: 4rem;
    height: 4rem;
  }
}
