.form-user {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;
  justify-items: center;
}
#message {
  width: 100%;
  color: var(--color-gray-background);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .form-user {
    padding: 5rem 0;
  }
}
